<div *ngIf="viewState$ | async as v">
    <section id="wiki-wrap">
        <app-wiki-menu></app-wiki-menu>

        <section class="wiki-wrap-inner" id="home-filler" *ngIf="isHome">
            <h1>Archium [ar'kiyum]</h1>
            <h3>"the archives"</h3>
            <p>A simple application for recording the things that matter.</p>
        </section>

        <section class="wiki-wrap-inner" id="page-wrap" *ngIf="pageContent">
            <app-wiki-view *ngIf="v.viewOnly"
                        [pageContent]="pageContent"></app-wiki-view>
            <app-wiki-edit *ngIf="v.editView"
                        [pageContent]="pageContent"
                        (editEvent)="savePageEdits($event)"></app-wiki-edit>
        </section>
    </section>

    <app-wiki-add *ngIf="v.addView"
                  (createPageEvent)="addNewPage($event)"></app-wiki-add>
    <app-wiki-delete *ngIf="v.deleteView"
                    [pageContent]="pageContent"
                    (deletePageEvent)="deletePage($event)"></app-wiki-delete>
</div>
