<app-wiki-menu (toggleCreateModalEvent)="toggleAddForm()"
               (toggleEditEvent)="toggleEditForm()"></app-wiki-menu>
<section *ngIf="pageContent" id="page-wrap">
    <app-wiki-view *ngIf="!editFormOn" 
                   [pageContent]="pageContent"></app-wiki-view>
    <app-wiki-edit *ngIf="editFormOn" 
                   [pageContent]="pageContent"
                   (saveEditsEvent)="savePageEdits($event)"
                   (toggleEditModeEvent)="toggleEditForm()"></app-wiki-edit>
</section>
<app-wiki-add *ngIf="addFormOn"></app-wiki-add>