<app-wiki-menu (toggleCreateModalEvent)="toggleAddForm()"
               (toggleEditEvent)="toggleEditForm()"
               (toggleDeleteModalEvent)="toggleDeleteConfirm()"></app-wiki-menu>
<section *ngIf="pageContent" id="page-wrap">
    <app-wiki-view *ngIf="!editFormOn"
                   [pageContent]="pageContent"></app-wiki-view>
    <app-wiki-edit *ngIf="editFormOn"
                   [pageContent]="pageContent"
                   (editEvent)="savePageEdits($event)"></app-wiki-edit>
</section>
<app-wiki-add *ngIf="addFormOn"
              (createPageEvent)="addNewPage($event)"></app-wiki-add>
<app-wiki-delete *ngIf="deleteConfirmOn && pageContent"
                 (deletePageEvent)="deletePage($event)"></app-wiki-delete>