$primaryColor: #6ca571;

@mixin inverseToolbarLinkColors {
    background-color: #fff;
    color: $primaryColor;
}

#toolbar-container {
    display: flex;
    justify-content: space-between;
    background-color: $primaryColor;
    padding: 1rem 1rem 1rem 0;

    #left-half {

        a {
            text-decoration: none;
            color: #fff;
            padding: 25px 80px;
            font-size: 1.25rem;
            transition: 0.5s all ease;
            &.router-link-active {
                @include inverseToolbarLinkColors();
            }
            &:hover {
                @include inverseToolbarLinkColors();
            }
            &:first-child {
                padding: 25px 20px;
                &:hover {
                    background-color: transparent;
                    color: #fff;
                }
            }
        }
    }

    #right-half {

        button.link {
            background-color: #fff;
            border: 1px solid;
        }

    }
}