.container {
  margin: 90px auto;
  padding: 0 15px;
  max-width: 400px;
}

form#login-form {
  display: flex;
  flex-direction: column;
}

#login-form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  min-width: 250px;
}

button {
  align-self: flex-end;
  padding: .375rem .75rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-weight: 400;
  font-size: 1rem;
  border-radius: .25rem;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}