<!-- <div *ngIf="userIsLoggedIn; else loggedOut" class="login-button-wrapper">
        <svg style="width:40px;height:40px" viewBox="0 0 24 24">
                <path fill="#fff" d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
        </svg>
        <button class="link" (click)="logOut()">Log Out</button>
</div>
<ng-template #loggedOut>
        <div class="login-button-wrapper">
                <svg style="width:40px;height:40px" viewBox="0 0 24 24">
                        <path fill="#fff" d="M2.75,7L4.03,5.75L13.26,15L20,21.72L18.73,23L15.73,20H4V17C4,15.14 6.61,13.92 9.09,13.36L2.75,7M20,17V19.18L18.1,17.28V17C18.1,16.74 17.6,16.35 16.8,16L14,13.18C16.71,13.63 20,14.91 20,17M5.9,17V18.1H13.83L10.72,15C8.19,15.3 5.9,16.45 5.9,17M12,4A4,4 0 0,1 16,8C16,9.95 14.6,11.58 12.75,11.93L8.07,7.25C8.42,5.4 10.05,4 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6Z" />
                </svg>
                <button class="link" 
                        (click)="toggleLoginModalOn()">Log In</button>
        </div>
</ng-template> -->
<section id="login-container">
        <h2>Archium</h2>
        <h3>Log In</h3>
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text"
                name="username"
                formControlName="username"
                placeholder="username"
                aria-label="username">
        
        <input type="password"
                name="password"
                formControlName="password"
                placeholder="password"
                aria-label="password">
        
        <div class="button-group">
                <button type="button"
                        id="login-form-cancel"
                        (click)="toggleLoginModalOff()">Cancel</button>
                <button id="login-form-button"
                        [disabled]="!loginForm.valid">Login</button>
        </div>

    </form>
</section>
  