@import "../../app.component.scss";

form {
    display: flex;
    flex-direction: column;
    color: $accent;
    label {
        margin-top: 10px;
    }
    input {
        padding: 10px;
        font-size: 1.25rem;
    }
    textarea {
        padding: 10px;
        height: 50vh;
        font-size: 1.25rem;
    }
    #save-cancel {
        margin-top: 10px;
        button#saveEdit {
            @include buttonSave();
            margin-left: 0;
        }
        button#cancelEdit {
            @include buttonCancel();
        }
    }

}
