<form id="edit-page" [formGroup]="wikiEditForm">
    <label for="title">Title</label>
    <input type="text"
           id="title"
           aria-label="title"
           formControlName="title"
           (keyup)="pathMatchTitle()"/>
    <label for="path">Path</label>
    <input type="text"
           id="path"
           aria-label="path"
           formControlName="path"/>
    <label for="content">Content</label>
    <textarea id="content"
              aria-label="content"
              formControlName="content"></textarea>


    <div id="save-cancel">
        <button id="save-edit"
                title="Save wiki entry"
                (click)="saveEdit()"
                [disabled]="!wikiEditForm.valid">
            <span>Save</span>
        </button>
        <button id="cancel-edit"
                title="Cancel changes"
                (click)="cancelEdit()">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span>Cancel</span>
        </button>
    </div>
</form>
