@import "../../app.component.scss";


button.link {
    @include buttonBasics();
    border: 1px solid transparent;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    align-self: center;
    &:hover, &:focus {
        border: 1px solid #fff;
    }
}

#login-container {
    position: absolute;
    right: 20px;
    top: 0;
    padding: 20px 20px 0;
    background-color: $accent;
    form#login-form {
        display: flex;
        flex-direction: column;
        input {
            padding: 10px;
            font-size: 16px;
        }
        #login-form-button, #login-form-cancel {
            @include buttonBasics();
            background-color: $blue;
            color: #fff;
            border: 1px solid $accent;

            font-size: 1.25rem;
            padding: 0.5rem 1rem;
            margin: 1rem;
            align-self: center;
            &:hover, &:focus {
                border: 1px solid #fff;
            }
        }
        #login-form-cancel {
            background-color: $accent;
            color: #fff;
            &:hover, &:focus {
                border: 1px solid #fff;
            }
        }
    }
}
