<section id="login-container">
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text"
                name="username"
                formControlName="username"
                placeholder="username"
                aria-label="username">
        
        <input type="password"
                name="password"
                formControlName="password"
                placeholder="password"
                aria-label="password">
        
        <div class="button-group">
                <button type="button"
                        id="login-form-cancel"
                        (click)="clickedCancel()">Cancel</button>
                <button type="button"
                        id="login-form-button"
                        [disabled]="!loginForm.valid">Login</button>
        </div>

    </form>
</section>
  