@import "../../app.component.scss";

aside {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh;
    background-color: $blue;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transition: 0.5s all ease;
    button {
        @include buttonBasics();
        padding: 25px 0;
        svg {
            width: 40px;
            height: 40px;
            transition: 0.5s all ease;
            path {
                fill: #fff;
            }
        }
        &:disabled {
            cursor: not-allowed;
            svg {
                path {
                    fill: #666;
                }
            }
        }
    }
    
    section#page-menu-wrap {
        display: grid;
        #page-menu-inner {
            position: absolute;
            left: -20rem;
            padding: 0;
            margin: 0;
            height: 100vh;
            background-color: #525252;
            transition: 0.5s all ease;
            #search-for-page {
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                svg#search-icon {
                    width: 24px;
                    height: 24px;
                    left: 2rem;
                    top: 1.5rem;
                    position: absolute;
                    path {
                        fill: $accent;
                    }
                }
                input {
                    padding-left: 30px;
                    height: 30px;
                }
            }
            ul {
                list-style: none;
                padding: 0 2rem;
                li {
                    min-width: 200px;
                    border-bottom: 1px solid #7d7d7d;
                    a {
                        padding: 15px 10px;
                        display: block;
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
        &.active {
            button {
                background-color: $accent;
                svg {
                    transform: rotate(90deg)
                }
            }
            #page-menu-inner {
                left: 101px;
            }
        }
    }
    section {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 1024px) {
    aside {
        button {
            &:hover, &:focus {
                background-color: $accent;
            }
        }
        #page-menu-wrap {
            #page-menu-inner {
                ul {
                    li {
                        a {
                            &:hover {
                                color: yellow;
                            }
                        }
                    }
                }
            }
        }
    }
}