<div class="container">
    <h2>Login</h2>
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text"
                name="username"
                formControlName="username"
                placeholder="username"
                aria-label="username">
        
        <input type="password"
                name="password"
                formControlName="password"
                placeholder="password"
                aria-label="password">
        
        <button id="login-form-button"
                [disabled]="!loginForm.valid">Login</button>

    </form>
</div>
  