/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('../node_modules/angular-notifier/styles.css');

body {
  position: relative;
  margin: 0px;
  width: 100%;
  height: 100% !important;
  min-height: 100%;
  padding: 0px;
  -webkit-overflow-scrolling: touch;
  color: #333;
  font-size: .95em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

