<div id="tag-update-wrap">
    <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="Tag name"
               aria-label="Tag name"
               matInput [formControl]="tagsList"
               [matAutocomplete]="auto"
               [errorStateMatcher]="matcher">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let tag of allTags" [value]="tag.tag_desc">
                {{tag.tag_desc}}
            </mat-option>
        </mat-autocomplete>
    <mat-error *ngIf="tagsList.hasError('required')">Tag name is <strong>required</strong></mat-error>
    </mat-form-field>

    <div id="button-group">
        <button type="button"
                id="update-tags"
                (click)="updateTags()"
                [disabled]="!tagsList.valid">add</button>
        <button type="button"
                id="cancel-update-tags"
                (click)="cancelUpdate()">cancel</button>
    </div>
</div>
<button class="tags"
        *ngFor="let tag of pageTags"
        (click)="removeTag(tag)">
    {{tag.tag_desc}} x
</button>